@model SysMaTra.Models.Colis

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Colis</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Valeur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Valeur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Image)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Image)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destination)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destination.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destinateur)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destinateur)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinateurPhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinateurPhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Destinatire)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Destinatire)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DestinatairePhone)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DestinatairePhone)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsPaye)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsPaye)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Statut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Statut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Created)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Created)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
